#to install all this requirements
#`pip install -r requirements.txt`
pillow==8.3.2
numpy==1.18.5
scipy==1.4.1 
chumpy==0.69
scikit-image==0.15 
opencv-python==4.1.1.26
PyYAML==5.3.1
face-alignment==1.4.1
yacs==0.1.8
kornia==0.5.11
ninja==1.11.1.1
fvcore==0.1.5.post20221221
